.navbar {
    width: 100%;
    padding: 20px;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    text-align: right;
}

.navbar__list-item {
    display: inline-block;
    
    & > div {
        display: flex;
        align-items: center;
    }

    i {
        font-size: 2rem;
        margin-left: 1.25rem;
    }

}