.pomodoro__screen {
    height: calc(100% - 135px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $bp-medium) {
        height: 100%;
    }

    & > h1 {
        margin-bottom: 40px;
    }

}

.pomodoro__form {

    & > div {
        // flex-direction: column;
    }

    .pomodoro__form-label {
        text-align: center;
        position: relative;

        &.pomodoro__form-label--active {

            &:before {
                content: ":";
                position: absolute;
                right: -7px;
                font-size: 3rem;
                top: -5px;
            }

            @media screen and (min-width: $bp-medium) {
                &:before {
                    content: ":";
                    position: absolute;
                    right: -43px;
                    font-size: 6rem;
                    top: 0px;
                }
            }
        }

        & + .pomodoro__form-label {
            margin-left: 0.2rem;

            @media screen and (min-width: $bp-medium) {
                margin-left: 3.5rem;
            }

        }

    }

    .pomodoro__form-input {
        background: transparent;
        color: $white;
        font-weight: 300;
        font-size: 3.5rem;
        border: none;
        max-width: 110px;
        line-height: 1;
        text-align: center;
        font-family: $global-courier-font;

        @media screen and (min-width: $bp-medium) {
            font-size: 9rem;
            height: 150px;
            max-width: 185px;
        }

        &:before,
        &:after {
            content: none;
        }

    }

}

.pomodoro__button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 2px solid $white;
    background: transparent;
    color: $white;
    cursor: pointer;
    transition: all .3s ease;

    @media screen and (min-width: $bp-medium) {
        width: 75px;
        height: 75px;
        font-size: 2rem;
    }

    &:hover {
        background: $white;
        color: $global-text-color;
    }

    & + .pomodoro__button {
        margin-left: 2.5rem;
    }

}